@{
    ViewData["Title"] = "Get User";
}

<h1>User Search</h1>
<br />
<div>
    <form asp-action="GetUserUsingCommand" method="post">
        @Html.AntiForgeryToken()
        <label>Enter users first name:</label>
        <input name="firstName" id="firstName" />
        <input type="submit" value="Search" />
    </form>
</div>